/* About Me Section 1 */

#section--1 {
  background-color: var(--color-light);
}

.about__heading {
  font-size: 2.2rem;
}

.about__content {
  /* height: 30rem; */
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin: 0 auto;
}

.about__content p {
  margin-top: 4rem;
  font-size: 2rem;
}

.about__image {
  border-radius: 8px;
  max-width: 30rem;
}
