/* rem and em do Not depend on html font-size in media queries
Instead, 1rem = 1 em = 16px */

@media (max-width: 1250px) {
  /* Header */
  .nav__link,
  .nav__link:visited {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;

    cursor: pointer;
    transition: all, 0.3s;
    text-align: center;
  }

  .header__title .btn {
    font-size: 1.6rem;
  }

  /* Slider */
  .slider__content {
    max-width: 800px;
  }

  .slider__text {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
  }

  .slider__img {
    max-width: 150px;
  }
}

@media (max-width: 1000px) {
  /* Nav */

  .nav {
    /* background-color: antiquewhite; */
  }
  .nav__toggle {
    display: block;
    height: 40px;
    width: 40px;
    font-size: 3rem;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    top: 109.18px;
    /* left: 10; */
    right: 0;
    background-color: #ffff;
    opacity: 0.9;
    padding-bottom: 2rem;
    /* background-color: aquamarine; */
    width: 200px;
    justify-self: center;
    border-radius: 2rem;
    padding-left: 0;
    border-radius: 0 0 0 2rem;
    gap: 4rem;
  }

  .button__container--nav {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .section__title {
    margin-bottom: 4rem !important;
    /* max-width: 80rem;
    margin: 0 auto 8rem auto;
    position: relative; */
  }

  /* Slider */
  #section--3 .slider__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    border-radius: 2rem;
    padding: 20px;
  }

  .slider__heading {
    text-align: center;
    font-size: 2.4rem;
  }

  .slider__text {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    text-align: center;
    display: none;
  }

  .slider__img {
    max-width: 200px;
    margin-bottom: 1.8rem;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-direction: column; */
    justify-content: start;
  }

  .features__item {
    margin-left: 20px;
  }

  .dots {
    display: none;
  }
  .slider__btn--container {
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .nav {
  }

  /* Hero */

  .header {
    /* height: 50vh; */
  }

  .header__title {
    margin-top: 14rem;
    margin-bottom: 14rem;
  }
  .header__image {
    padding: 4rem;
    height: 4rem;
    width: 4rem;
  }

  h1 {
    font-size: 3rem;
  }

  .header__title p {
    font-size: 1.8rem;
    grid-column: 1 / 2;
  }

  .header__title .btn__secondary {
    font-size: 1.4rem;
  }
  .header__title .btn {
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
  }

  /* Form */

  body .modal__content {
    max-width: 200px;
    padding: 5rem 14rem 10rem 10rem;
  }
  /* About */

  #section--1 .about__content {
    flex-direction: column;
    gap: 6rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #section--1 .about__content p {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 400;
  }

  #section--1 .about__image {
    border-radius: 8px;
    max-width: 160px;
  }

  /* Skills */

  #section--2 .features {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 6rem;
    column-gap: 0rem;
  }

  #section--2 .features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    align-self: center;
    text-align: center;
  }

  /* Slider */

  #section--3 .slider__heading {
    font-size: 1.8rem;
  }

  .features__item svg {
    height: 25px;
    width: 25px;
  }

  .slider__btn {
    width: 40px;
    height: 40px;
  }

  .slider__img {
    max-width: 150px;
    margin-bottom: 1.8rem;
  }
}

@media (max-width: 450px) {
  /* Section */
  body .section {
    padding-top: 4rem;
  }

  .section__heading {
    font-size: 2.4rem;
  }

  /* Nav */

  .nav {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .logo {
    max-width: 15rem;
    cursor: pointer;
    src: url("/img/logo-small.png");
    margin-left: 0;
  }

  .nav__links {
    padding-top: 2rem;
    top: 100px;
    width: 100%;

    border-radius: 0 0 2rem 2rem;

    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    opacity: 1;
  }

  /* Header */

  .header {
    height: auto;
  }
  .header__title {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* height: 80vh; */
  }

  .header__image {
    margin-top: 3rem;
    margin-left: 0;
    /* display: none; */
  }

  .header__title .btn {
    font-size: 1.4rem;
  }

  /* Form */

  body .modal__content {
    max-width: 200px;
    padding: 5rem 10rem 8rem 4rem;
    margin-top: 8rem;
    top: 16rem;
  }

  body .button--close {
    height: 24px;
    width: 24px;
  }
  /* Features */

  #section--2 .features__description {
    width: 100%;
  }

  /* Slider */
  .slider__btn {
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
  }

  #section--3 .features__item {
    margin-left: 0px;
  }

  #section--3 .btn__secondary {
    font-size: 1.4rem;
  }
  #section--3 .btn {
    font-size: 1.4rem;
  }
}
