@import url("/css/header.css");
@import url("/css/slider.css");
@import url("/css/nav.css");
@import url("/css/queries.css");
@import url("/css/section.css");
@import url("/css/btn.css");
@import url("/css/about.css");
@import url("/css/form.css");
@import url("/css/tabs.css");
@import url("/css/skills.css");

:root {
  --color-background: #ffffff; /* Soft lavender for a warm, inviting look */
  --color-accent: #0056b3;
  --color-accent-background: #a6c6e9;
  --color-text: #333333; /* Dark grey-green for text, ensuring readability */
  --color-light: #e3f6ff; /* Pure white for clean elements */
  --color-dark: rgba(0, 0, 0, 0.7); /* Darker shade for shadows or text */
  --gradient-primary: linear-gradient(to top left, #5f76b7, #9ac1e4);
  --gradient-secondary: linear-gradient(to top left, #c3db5c, #8f9c58);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 52.5%;
  color: var(--color-text);
}

/* General Elements */

p {
  font-size: 2rem;
}

.icon__background {
  color: var(--color-);
}

h4 {
  font-size: 2.4;
}

h3 {
  font-size: 3rem;
}

.hidden {
  display: none;
}
